:root{
 --cor-fundo: #b725b7ec;
 --cor-principal:#0b0d20;
--cor-secundaria:#2bdefd;
--cor-texto:#ffffff;
--cor-destaque:#212333;
}

body{
    background-color: var(--cor-fundo);
    color:var(--cor-texto);
}


h1{

    color: var(--cor-secundaria);
}

button{
background-color: var(--cor-secundaria);
color: var(--cor-texto);
border: none;
border-radius: 15px;
padding: 15px;
transition:background-color 0.3s;

}

button:hover{
    background-color: var(--cor-destaque);
    color:var(--cor-principal);
}